.blender-series-header {
	display    : grid;
	place-items: center;

	grid: 1fr 1fr / 1fr 1fr;
	gap : 1rem;
}

@media (max-width: 1000px) {
	.blender-series-header {
		grid: 0.5fr 0.5fr 1fr 1fr / 1fr;
	}
}

.blender-series {
	background: rgb(231, 236, 226);
}

.blender-series:hover {
	background: rgb(121, 118, 118);
	color     : white;
	transform : scale(1.02);

}

.blender-series-thumbnail {
	max-width: 320px;
	width    : 100%;
	height   : auto;
}