.blender-series-header {
	display    : grid;
	place-items: center;

	grid: 1fr 1fr / 1fr 1fr;
	gap : 1rem;
}

@media (max-width: 1000px) {
	.blender-series-header {
		grid: 0.5fr 0.5fr 1fr 1fr / 1fr;
	}
}
