* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Domine", serif;
  line-height: 200%;
}

#container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

/* Add a black background color to the top navigation */
.base-nav {
  background-color: #333;
  grid-row: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  grid-row: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.base-body {
  width: 100%;
  max-width: 50%;

  /* These two center content! */
  margin-left: auto;
  margin-right: auto;

  grid-row: 2;
}

@media (max-width: 1000px) {
  .base-body {
    max-width: 90%;
  }
}

/* Style the links inside the navigation bar */
.base-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1rem;
}

/* Change the color of links on hover */
.base-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.base-nav a.active {
  background-color: #04aa6d;
  color: white;
}

.card-bg {
  background: rgb(231, 236, 226);
}

.card-bg:hover {
  background: rgb(121, 118, 118);
  color: white;
  transform: scale(1.02);
}

.rounded {
  border-radius: 0.5rem;
}

.ease {
  transition: all 0.2s ease-in-out;
}

.link-reset a {
  text-decoration: none;
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.margin-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.breather-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padding {
  padding: 1rem;
}

.grid-4 {
  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
  .grid-4 {
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  .grid-3 {
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: grid;
  gap: 1rem;
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .grid-2 {
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr;
  }
}

.component-shell {
  background: rgb(231, 236, 226);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.blog-section p {
  margin-bottom: 2rem;
}

pre {
  width: 100%;
  font-size: smaller;
}

code * {
  font-family: "Comic Mono", monospace;
  font-weight: bold;
}

.language-rust {
  line-height: 100%;
}

.card-thumbnail {
  max-width: 320px;
  width: 100%;
  height: auto;
}

.component-article ul {
  padding-left: 2rem;
}

.component-article h2:not(:first-child) {
  margin-top: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.width-article-image {
  width: 100%;
}
