:root {
  /* SIZES */
  --smollest: 0.25rem;
  --smol: calc(2 * var(--smollest));
  --normal: calc(2 * var(--smol));
  --big: calc(2 * var(--normal));
  --line-height-code: 140%;

  /* COLORS */
  --green: #04aa6d;
  --green-dark: rgba(59, 186, 129, 0.1);
  --blue-deep: #006278;
  --shell-bg: #def0e7c9;
  --pink: #f8f3efc9;
  --card: rgb(231, 236, 226);
  --card-dark: rgb(121, 118, 118);
  --link-color: #ca1f71;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 0;
}

a {
  text-decoration: none !important;
  font-weight: 500;
  color: var(--link-color);
}

@font-face {
  font-family: domine-local;
  src: url("/static/fonts/Domine.woff");
}

@font-face {
  font-family: comic-mono-local;
  src: url("/static/fonts/ComicMono.woff");
}

#container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
  line-height: 200%;

  font-family: domine-local;
}

/* Add a black background color to the top navigation */
.base-nav {
  background-color: #333;
  grid-row: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  grid-row: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.base-body {
  max-width: 80ch;

  padding: 0 var(--normal);

  /* These two center content! */
  margin: 0 auto;

  grid-row: 2;
}

/* Style the links inside the navigation bar */
.base-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: var(--normal) var(--normal);
  text-decoration: none;
  font-size: var(--normal);
}

/* Change the color of links on hover */
.base-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.base-nav a.active {
  background-color: #04aa6d;
  color: white;
}

.card-bg {
  background: var(--card);
}

.card-bg:hover {
  background: var(--card-dark);
  color: white;
  transform: scale(1.02);
}

.rounded {
  border-radius: var(--smol);
}

.ease {
  transition: all 0.2s ease-in-out;
}

.link-reset a {
  text-decoration: none;
  color: inherit;
}

.breather-y {
  margin-top: var(--big);
  margin-bottom: var(--big);
}

.padding {
  padding: var(--normal);
}

.grid-4 {
  display: grid;
  gap: var(--normal);
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1000px) {
  .grid-4 {
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  gap: var(--normal);
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1000px) {
  .grid-3 {
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: grid;
  gap: var(--normal);
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1000px) {
  .grid-2 {
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr;
  }
}

.component-shell {
  background: var(--shell-bg);
  padding: var(--smollest) var(--smol);
  color: var(--blue-deep);
  font-size: inherit;
  
  font-family: comic-mono-local, "Comic Mono", "Sans Mono", "Consolas", "Courier", monospace;
}

.component-shell-multiline {
  border-left-width: var(--smol);
  border-left-style: groove;
  background-color: var(--card);
  line-height: var(--line-height-code);
  font-size: inherit;

  padding: var(--smol) var(--normal);

  font-family: comic-mono-local, "Comic Mono", "Sans Mono", "Consolas", "Courier", monospace;
}

pre {
  width: 100%;
  font-size: smaller;
}

pre > code {
  border-radius: var(--smol);
  font-family: comic-mono-local, "Comic Mono", "Sans Mono", "Consolas", "Courier", monospace;
}

.width-100 {
  width: 100%;
}

.card-thumbnail {
  max-width: 320px;
  width: 100%;
  height: auto;
}

.sidenote {
  padding: var(--normal);
  border-color: var(--green);
  border-left-width: var(--smol);
  border-left-style: groove;
  background-color: var(--green-dark);
}

.quote {
  padding: var(--normal);
  border-left-width: var(--smol);
  border-left-style: groove;
  background-color: var(--pink);
  font-style: italic
}

.quote-mark {
  font-size: xx-large;
}

.component-article ul {
  padding-left: var(--big);
}

.component-article h2:not(:first-child) {
  margin-top: var(--big);
}

.component-article h3:not(:first-child) {
  margin-top: var(--big);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.language-rust {
  line-height: var(--line-height-code);
}

.text-center {
  text-align: center;
}

.code-link {
  position: absolute;
  top: var(--smol);
  right: var(--smol);
}

.code-listing img:hover {
  transform: scale(1.3);
}

.soft-shadow {
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.recent-posts-table {
  width: 100%;
  padding: var(--smol);
  text-align: left;
}

.recent-posts-table td {
  padding: var(--smol);
}

.recent-posts-table tr:nth-of-type(even) {
  background-color: var(--card);
}

.rust-inline {
  white-space: pre;
}